* {
    padding: 0;
    margin: 0;
}

.menu nav {
    display: flex;
    justify-content: space-around;
    background-color: #242323;
    padding: 5px;
    padding-top: 15px;
    color: white;
}
.menu nav a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.menu nav img {
    margin-top: -5px;
}

.menu2 {
    display: flex;
    justify-content: space-around;
    padding: 10px 1px 10px
    1px;
    
}

.menu2 h3 {
    font-weight: bolder;
    /* display: inline;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    padding-right: 20px;
    font-size: 15px;
    display: inline;
    justify-content: space-around;
    text-decoration: none;
    color: #070707;
    font-weight: bold;
    padding-left: 25px;
    */
}

.links-menu2 a {
   justify-content: end;
   margin-right: 15px;
   color: black;
   text-decoration: none;
  /* display: flex;
   flex-direction: row;
   justify-content: space-around;
   */
}

.links-menu2 button {
    background-color: blue;
    border: none;
    border-radius: 15px;
    padding: 2px;
    
}

.links-menu2 button a {
    align-items: center;
    padding-left: 15px
    ;
    text-decoration: none;
    color: white;
    /*
    border-radius: 15px;
    border: none;
    background-color: rgb(36, 133, 245);
    font-size: 15px;
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 25px;
    */  
}

/*
Terceira menu - Informes */

.container-informes {
    display: flex;
    justify-content: center;
    background-color: rgb(203, 209, 238);
    padding: 10px 0px 10px 10px;
}

/* Main - informes do iphone*/

.propaganda {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 20px;

}

.propaganda h1 {
    font-size: 50px;
    padding-top: 25px;
}

.btn-preco {
    width: 100px;
    margin-left: 450px;
}

.preco {
    text-align: center;
    color: #777;
    padding-top: 15px;
    padding-bottom: 15px;
}

.propaganda button {
    background-color: rgb(24, 111, 243);
    border-radius: 15px;
    border: none;
    padding: 7px;
    color: white;
    cursor:pointer;
    
}

/* Imagem do produto */

.produto {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.produto img {
    width: 750px;
    padding-bottom: 25px;
}

/*FALTA
AJUSTAR
RESPOSIVIDADE
E
ARRUMAR 
OS
BOTOES DE
CORES */

/*Footer com celular e botão de cores */

.btn {
    display: flex;
    justify-content: center;
    
    
}

.btn-verde, .btn-prateado, .btn-dourado, 
.btn-grafite, .btn-azul {
    margin-left: 80px; 
}

/* Cor dos botoes (cores disponiveis do produto)*/

.btn-verde{
    background-color: #084e0b;
    border-radius: 50%;
    padding: 10px;
}

.btn-prateado{
    background-color: #879488;
    border-radius: 50%;
    padding: 10px;
}

.btn-dourado{
    background-color: #e0c009;
    border-radius: 50%;
    padding: 10px;
}

.btn-grafite{
    background-color: #535248;
    border-radius: 50%;
    padding: 10px;
}

.btn-azul {
    background-color: #1457d3;
    border-radius: 50%;
    padding: 10px;
}
 
.Verde-alpino, .Prateado , .Dourado , .Grafite, 
.Azul {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 10px;
}

.nomes-cor {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}